
* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
    body {
        margin: 0;
        padding: 0;
        
        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0;
        }
        
        header {
            padding: 25px 0;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            
            .logo img {
                height: 35px;
                
                a {
                    width: 20%;
                } 
            }
            
            nav {
                width: 60%;
                
                ul {
                    padding: 0;
                    margin: 0;
                    margin-right: 100px;
                    display: flex;
                    justify-content: center;
                    list-style-type: none;
                    
                    li {
                        margin-right: 30px;
                        text-align: center;
                        text-decoration: none;   
                        
                        a {
                            color: rgb(44, 139, 100);
                            font-weight: 400;
                        }
                    }
                }
                
                .fb {
                    justify-content: flex-end;
                    position: relative;
                    width: 20%;                
                }
                
            }
        }
        
        .baner{
            background: url('../../zdjecia/home/background_image.jpg') no-repeat;
            height: 500px;
            background-size: cover;
            display: flex;
            
            .container {
                color: white;
                display: flex;
                text-decoration: none;
                flex-direction: column;
                justify-content: flex-end;
                height: 100%;
                
                h1, h2, h4, h5 {
                    width: 50%;
                    margin: 0;
                    margin-bottom: 10px;
                }
                
                h1 {
                    margin:0;
                }
                
                h4, h5 {
                    margin-bottom: 20px;
                }
                
                h5 {
                    width: 40%;
                    margin: 0;
                }
                
                .site {
                    margin-top: 30px;
                    margin-bottom: 60px;
                    
                    &::before {
                        content: "";
                        width: 200px;
                        height: 1px;
                        background-color: white;
                        display: block;
                        margin-bottom: 20px;
                    } 
                    
                    a {
                        text-decoration: none;
                        color: white;
                    }
                }
            }    
        }
        
        section {
            text-align: center;
            margin: 25px 0;
            
            h4 {
                text-align: center;
                color: gray;
                margin: 25px 0;
                margin-bottom: 35px;
                display: flex;
                flex-direction: column;
                align-items: center;
                
                &::after {
                    content: "";
                    width: 100px;
                    height: 2px;
                    background-color: black;
                    display: block;  
                    margin-top: 15px;
                }                
            }
            
            > p {
                margin: 40px 370px;
                text-align: center;
                margin-bottom: 50px;
                
            }
            
            .pictogram {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 100px;
                
                img {
                    height: 100px;
                    width: 100px;
                    margin: 20px 0;  
                }
                
                h5 {
                    padding: 0;
                    margin: 20px 70px;
                    text-align: center;
                }
                
                p{
                    padding: 0;
                    margin: 20px 70px;
                    text-align: center;   
                }
            } 
        }
        
        .licznik {
            color: blue;
            width: 100%;
            
            .container {
                display: flex;
                flex-direction: row;

                h1, h3 {
                    text-align: center;  
                }
                
                h1{
                    
                }
            }  
        }
        
        .gallery{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 100px;
            flex-wrap: wrap;
            margin: 30px 30px;
            .gallery-item{
                width: 33%;
            }
            
        }   
    } 
}